
<script type="text/javascript" src="<%= @param['baseurl'] %>/files/visjs/vis.js"></script>
<link href="<%= @param['baseurl'] %>/files/visjs/vis.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<%= @param['baseurl'] %>/files/visual.js"></script>
<div id="mynetwork">
	<div class="network-frame" style="position: relative; overflow: hidden; width: 100%; height: 100%;">
		<canvas style="position: relative; width: 100%; height: 100%;"></canvas>
	</div>
</div>
